<%- include ('../partials/header') %> 
<div class="jumbo text-center">
    <h3>Evidencija naloga</h3>
    <a href="/admin" class="btn btn-sm btn-primary">Radni nalozi</a>
    <a href="/add" class="btn btn-sm btn-info">Dodaj nalog</a>
    <a href="admin/view/edit" class="btn btn-sm btn-warning">Izmeni/Obriši</a>
    <a href="/logout" class="btn btn-danger btn-sm">Odjavi se</a>

</div>
<div class="container ">
    <h4>Dodaj korisnika</h4>
    <div class="col-12">
    <div class="row">
        <div class="col-10 offset-1">
        <form class="text-center" action="admin/create/save" method="POST" >
        <input type="text" placeholder="Ime i prezime" name="fullName" class="form-control" id="first"> <br>
        <input type="text" placeholder="Adresa" name="address" class="form-control"> <br>
        <input type="text" placeholder="Telefon" name="phone" class="form-control"> <br>
        <input type="text" placeholder="Opis kvara" name="description" class="form-control"> <br>
        <input type="date" placeholder="Datum prijema" name="date1" class="form-control"> <br>
        <input type="date" placeholder="Datum zakazivanja" name="date2" class="form-control"> <br>
        <input type="number" placeholder="Satnica zakazivanja" name="clock" class="form-control"> <br>
        <button class="btn form-control btn-success">Dodaj</button>
        </form>
        </div>
</div>
    </div>
</div>

<%- include ('../partials/footer') %> 
