<%- include ('partials/top') %> 
    <div class="container">
 
        <div class="box">
            <h3>   Prijavi se:</h3>
        <div class="col-12">
        <form action="/login" method="POST">
 <label for="">Korisničko ime:</label>
<input type="text" class="form-control" id="first" name="name">  
<label for="">Šifra:</label>
<input type="text" class="form-control" name="password">  <br>
<button class="btn form-control btn-success">Pristupi</button>
</form>
</div>
</div>
 </div>


<%- include ('partials/footer') %> 
